<div class="sidebar">

    <div class="sidebar-header">
        <img class="logo" src="/logo.png" alt="CookBook logo" style="height:64px; width:auto; display:block;" />
        <h2>CookBook</h2>
    </div>

    <ul class="nav-links">
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i> Dashboard
            </NavLink>
        </li>

        <li>
            <NavLink href="/recipes">
                <i class="fas fa-utensils"></i> Recipes
            </NavLink>
        </li>
        <AuthorizeView>
            <li>
                <NavLink href="/categories">
                    <i class="fas fa-tags"></i> Categories
                </NavLink>
            </li>
            <li>
                <NavLink href="/ingredients">
                    <i class="fas fa-carrot"></i> Ingredients
                </NavLink>
            </li>
            <li>
                <NavLink href="/typecuisines">
                    <i class="fas fa-globe"></i> Cuisines
                </NavLink>
            </li>
        </AuthorizeView>

    </ul>

</div>